.row {

border: 1px;
border-style: solid;
margin: 0;
padding: 0px;
background: rgba(245, 245, 220, 0.479);

}

ul {
 
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;}
li {
    
    position: sticky; 
    display: inline-block;
    float: none;
    padding: 8px 0;
     
}
li a {
    display: block;
    padding: 0 20px;
    color: darkgrey ;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;
}
li a:hover {
    background-color: gainsboro;
    color: black;
}

#to-be-in-middle{
    
    font-family: 'Alex Brush';
    font-size: 80px;    
    height: auto;
    text-align: center;
}


header.row {   
    text-align: center;
   height: auto;
    width: auto;
    
    background: rgba(245, 245, 220, 0.493);
    
}

body {
    background-image: url("images/alcohol-alcoholic-bar-8755.jpg");
    background-color: #cccccc;
    background-size: 100%;
 }

div #beer-picture{
    height: 100%;

    
 }

.col-4  {
    
    border: 1px;
    border-style: solid;
    margin: 0;
    padding: 0px;
    
    }
div#contactbox .col-6  {
    
        border: 1px;
        border-style: solid;
        margin: 0;
        padding: 0px;
        }
    


div.col-12 {
    
    border: 0px;
    border-style: solid;
    margin: 0;
    padding: 0;
    height: auto;
    }


 #beer-picture.col-4{
     height: auto;
 }

 #beer-picture-text{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-align: center;
     height: auto;
 }
 

 footer{
    height: auto;
     text-align: center;
}
#contactbox > div.col-6{
    padding: 5px;
}

h1{
    margin-bottom: 0;
    font-size: 80px;
}


input{
width: 50%;
}
input.checkIf{
    width: auto;
}
 

#placeInBar{
    width: 50%;
}
    

#carousel-text{

padding: 10px;
}

#burger-title{
text-align: center;
font-size: 150%;
font-family: 'Caesar Dressing';
}

#food-list{

    display: block;
    list-style-type: decimal;
    padding: 2% 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: auto;
  
    max-height: 300px;


}

#menu-titles{
    text-align: center;
    font-size: 150%;
    font-family: 'Alex Brush';
    letter-spacing: 3px;
    }
    .col-6  {
    
        border: 1px;
        border-style: solid;
        margin: 0;
        padding: 0px;}


        .fb-page{
            height: 120px;
        }


        #message-box {
            display: block;
            width: auto;
            height:120px;
            margin:10px auto;
            text-align: right;
            border: 5px;
            border-color: black;
            border-style: solid;
            background:whitesmoke;
            color:black;    
            overflow: auto;
            position: relative;
        }
      
        #chat-txt {

            width: 50%;
        }

        #myImg {
            
            cursor: pointer;
            transition: 0.3s;
        }
        #myImg:hover {opacity: 0.7;}

        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.9); 
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        .modal-content, #caption { 
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        
       
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
       